<app-navbar></app-navbar>

<div class="container my-5" *ngIf="product">
  <div class="row">
    <div class="col-md-5">
      <img [src]="product['image']" class="img-fluid" [alt]="product['name']" style="object-fit: cover; height: 300px;" />
    </div>
    <div class="col-md-7">
      <h2>{{ product['name'] }}</h2>
      <p class="text-muted">{{ product['category']}}</p>
      <h4>₹{{ product['price'] }} <small class="text-success">({{ product['offer'] }})</small></h4>
      <p>{{ product['description'] }}</p>
      <p><strong>Rating:</strong> {{ product['rating'] }} <i class="fa fa-star star"></i></p>
      <button class="btn btn-warning" (click)="addToCart(product)">Add to Cart</button>
      <br>
      <button class="btn btn-warning mt-3 buy" (click)="buyNow()">Buy Now</button>
    </div>
  </div>
</div>
<br>
<br>
<br>
<app-footer></app-footer>